* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5; /* Tom de fundo mais suave */
}

form {
  width: 370px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

h1 {
  font-size: 24px;
  text-align: center;
  color: #0b54b4;
  margin-bottom: 20px;
}

h1 span {
  color: #03aa35; /* Tom verde mais suave */
  
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container-itens {
  position: relative;
}

.container-itens img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.7;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px 10px 10px 40px; /* Espaço para o ícone */
  font-size: 14px;
  border: 1px solid #ccd0d5;
  border-radius: 5px;
  background-color: #f9fafb;
}

.sessao {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #03aa35; /* Cor do botão */
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sessao:hover {
  background-color: #02942e; /* Tom levemente mais escuro ao passar o mouse */
}

a.senha {
  font-size: 12px;
  color: #777;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-top: 10px;
}

a.senha:hover {
  color: #007c6c;
}
.home-container img{
  max-width: 100%;
}
